*{
	background: lightpink;
}
.LeftSide{
	width: 100%;
	background: lightblue;
}
.LeftSide img{
	width: 100%;
	margin-bottom: 10px;
	margin-right: 5px; 
}
.RightSide{
	width: 100%;
}
.RightSide img{
	width: 100%;
}
.webs{
	display: flex;
	width: 90%;
	margin: auto;
}