*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	
	background: url("./Stark.png");
	background-repeat: no-repeat;
	background-size: 100% , 100%;
}
header{
	height: 10vh;
	width: 90%;
	margin:auto;
}
header img{
	width: 300px;

}
.presentation{
	width: 90%;
	margin:auto;
	display: flex;
}
.hero ,.introduction{
	flex: 1;
}
.hero{
	width: 50%;
}
.hero img{
	width: 55%;
	height: 87vh;
	margin-left: 150px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  	xfilter: drop-shadow(5px 5px 5px #222);
}
.introduction{
	width: 50%;
}
.line{
	width: 250px;
	height: 5px;
	background: yellow;
	margin-top: 110px;
}
.name{
	font-family: "Montserrat";
	font-size: 80px;
	margin-top: 10px;
}
.designation{
	font-family: "Poppins";
	font-size: 30px;
	color: lightblue;
	margin-top: -10px;
}
.bio{
	font-family: "Poppins";
	font-size: 23px;
	margin-top: 20px;
}
.social{
	margin-top: 20px;
}
.social img{
	padding-right: 20px;
}
.social img:hover{
	transform: scale(1.2);
}

.box{
	height: 50px;
	width: 50vh;
	float:left;
    transform:rotate(-90deg);
    padding: 0px;
    bottom: 50px;
    display: flex;
    margin-top: -200px;
    margin-left: -100px;

}
.abt,.prj,.git{
	flex: 1;
	font-family: "Poppins";
	font-size: 20px;
	align-self: center;
	text-align: center;
	color: black;
}

.abt{
	color: yellow;
}
a:hover{
	color: white;
}
a{
	color: black;
	text-decoration: none;
}
.prj::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.prj:hover::after{
	width: 100%;
	transition: width .3s;
}
.abt::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.abt:hover::after{
	width: 100%;
	transition: width .3s;
}
.git::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.git:hover::after{
	width: 100%;
	transition: width .3s;
}