*{
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
}

body{
	background: linear-gradient(98deg, #E3F5FF 0%, #FFFFFF 100%);
}
.hero{
	height: 100vh;
	width: 100%;
}
.hero p{
	font-family: Romantic Couple;
	font-size: 100px;	
	text-align: center;	
	padding-top: 20vh;
	padding-bottom: 20vh;
	color: #054F66;
}
.topper{
	height: 100vh;
	width: 100%;	
}
.heading{
	width: 70%;
	margin: auto;
}
.titles{
	font-family: Montserrat;
	font-size: 50px;
	line-height: 98px;
	text-align: left;
	text-transform: uppercase;
	color: #054F66;
}
.listing{
	display: flex;
	width: 70%;
	height: 60vh;
	margin:auto;
	margin-top: 30px;
}
.postOne,.postTwo,.postThree{
	flex: 1;
}
.postOne{
	height: 70vh;
	width: 100px;
	}
.postTwo{
	height: 70vh;
	width: 100px;
}
.postThree{
	height: 70vh;
	width: 100px;
}
.preview{
	height: 40vh;
	width: 90%;
	margin-top: 10px;
	margin:auto;
}
.preview img{
	height: 100%;
	width: 100%;
}
.subtopic{
	margin-top: 20px;
	font-family: Montserrat;
	text-align: center;
	color: #054F66;
}
.subtopic a{
	text-decoration: none;
	color: #054F66;
}
footer{
	font-family: 'Poppins'
}